@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.home {
  background: rgba(68, 65, 128, 0.7);
  /* background: linear-gradient(90deg, rgba(40, 34, 208, 0.83) 5%, rgb(71, 71, 139) 46%, rgb(42, 42, 64) 100%); */
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.skill {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  width: 100vw;
  height: 100vh;
}
.contact {
  background-color: black;
  width: 100vw;
  height: 100%;
  color: white;
}

.boxShadow {
  -webkit-box-shadow: -7px 8px 40px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 8px 40px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 8px 40px -3px rgba(0, 0, 0, 0.75);
}
.link:hover {
  border-bottom: rgba(241, 241, 13, 0.9);
  border-bottom-width: 3px;
  border-style: solid;
}
